:root {
    --bg-header: #263260;
    --bg-footer: #142152;
    --bg: #253d8d95;
    --dark-blue: #040932;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-width: 240px;
    font-size: 28px;
    padding: 10px;
    background-color: var(--bg-footer);
    border-bottom: solid 3px var(--dark-blue);
    height: 75px;
}

main {
    display: flex;
    flex-direction: column;
}

.api {
    display: flex;
    align-items: center;
    color: #f1f1ff;
    text-decoration: underline;
    text-decoration-color: #f1f1ffd3;
}

.api_nombre {
    min-width: 96px;
}

.logo_header {
    height: 75px;
    display: flex;
    justify-content: center;
    width: 80px;
    margin-top: 8px;
}

.logo_header img {
    height: 65px;
}

.logo1 {
    margin-right: 50px;
}

.logo2 {
    margin-left: 50px;

}

footer {
    display: flex;
    min-width: 240px;
    width: 100%;
    justify-content: space-between;
    border-top: solid 3px var(--dark-blue);
    background-color: var(--bg-footer);
    height: 107px;
}

.logo,
.nombre {
    width: 32%;
    max-width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img {
    display: flex;
    justify-content: center;
}

.logo_img img {
    display: block;
    width: 75%;
    max-width: 440px;
}

.api_footer {
    margin-right: 12px;
}

.nombre_completo {
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #f1f1ff;
}

.solo_nombre {
    margin-right: 7px;
}

.apellidos {
    display: flex;
}

.apellido1 {
    margin-right: 7px;
}

.filtros {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    background-color: var(--bg);
    padding-top: 15px;
    color: var(--dark-blue);
}

.filtroForm {
    display: flex;
    width: 100%;
    justify-content: center;
}

.filtros1,
.filtros2 {
    display: flex;
}

.pelo,
.ojos,
.sexo {
    padding: 0 17px;
    font-size: 19px;
    height: 28px;
}

.filtroForm input,
.filtroForm select {
    margin-left: 5px;
    outline: none;
    padding: 3px 4px;
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    color: var(--dark-blue);
    font-weight: 700;
}

.filtroForm select option {
    color: var(--dark-blue);
    font-weight: 700;
}

#sex {
    cursor: pointer;
}

.sexo,
.pelo {
    border-right: solid 2px var(--dark-blue);
}

.filtroForm button {
    padding: 4px 9px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: var(--dark-blue);
}

.filtroForm button:hover,
.filtroForm button:active {
    cursor: pointer;
    background-color: #020d35;
    box-shadow: 2px 2px 6px black;
}

.fugitivos_paginacion {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    min-height: 82vh;
    min-width: 240px;
}

#contenedor {
    display: grid;
    width: 80%;
    height: fit-content;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 0 0;
}

#paginacion {
    display: flex;
    padding: 20px;
}

.foto {
    position: relative;
}

.foto img {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    min-height: 128px;
}

.fugitivo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 20px;
    min-width: 166px;
    border-radius: 7px;
    border: 2px solid var(--dark-blue);
    background-color: var(--bg-header);
    color: rgba(255, 255, 255, 0.885);
    cursor: pointer;
}

.fugitivo:hover,
.fugitivo:active {
    transform: translateY(-3px);
    box-shadow: 2px 2px 6px black;

}

.titulo_fugitivo {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.contenido_titulo_fugitivo {
    text-align: center;
}

.fugitivo img {
    display: block;
    max-width: 90%;
    border: #020d35 solid 2px;
    border-radius: 3px;
}

.contenido_titulo_fugitivo {
    padding: 7px 6px 8px;
}

#paginacion {
    background-color: transparent;
}

#paginacion button,
#paginacion div {
    margin: 0 3px;
}

.divMore {
    padding-top: 14.5px;
    font-size: 20px;
}

#paginacion button {
    padding: 5px 8px;
    background-color: rgb(216, 235, 255);
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
}

#paginacion button:disabled {
    color: rgb(125, 125, 125);
    cursor: not-allowed;
    border-color: rgb(20, 20, 20);
}
#paginacion button :hover,
#paginacion button:active {
    background-color: rgb(194, 212, 231);
    border: 2px solid black;
    color: black;
}



.todo_detalles_fugitivo {
    padding: 40px 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    min-height: 82vh;
}

#visibilidad {
    position: absolute;
    top: 85px;
    left: 12px;
    background-image: url(ASSETS/atras.png);
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    background-size: cover;
    cursor: pointer;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    padding: 20px 15px;
    width: 80%;
    height: 100%;
}

.arriba,
.medio,
.abajo {
    height: 32.5%;
    width: 100%;
    min-height: 32.5vh;
    min-width: 232px;
    border: 2px solid var(--dark-blue);
    background-color: var(--bg-header);
    color: rgba(255, 255, 255, 0.885);
}

.arriba {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: none;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.imagen_principal {
    width: 27%;
    height: 100%;
    display: flex;
    min-width: 175px;
    margin-left: 10px;
}

.imagen_principal img {
    display: block;
    max-width: 200px;
    min-width: 175px;
    max-height: 100%;
    height: 100%;
    border: #020d35 solid 2px;
    border-radius: 3px;
}

.datos_importantes {
    width: fit-content;
    height: 100%;
    margin: 10px 10px 10px 20px;
    font-size: 20px;
    padding: 7px;
    background-color: #858ed33f;
    border-radius: 5px;
}

.datos_importantes>div {
    padding: 4px;
}

.title {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.885);
    text-decoration: underline;
}

.medio {
    padding: 20px 30px 35px;
    font-size: 19px;
    min-height: fit-content;
    height: fit-content;
    text-align: justify;
    border-bottom: none;
    border-top: none;
}

.titulo_medio {
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 7px;
}

.info_medio {
    margin-top: 10px;
    padding: 15px 20px;
    background-color: #858ed328;
    border-radius: 5px;
}

.medio>.info_medio>p>a {
    color: rgba(255, 255, 255, 0.763);
    text-decoration: underline;
    font-weight: bold;
}

.abajo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px 20px;
    border-top: none;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.abajo>.imagenes {
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: 175px;
    margin: 15px 10px;
}

.abajo>.imagenes>img {
    display: block;
    max-width: 170px;
    max-height: 100%;
    height: 100%;
    border: #020d35 solid 2px;
    border-radius: 3px;
}

.todo_sobre_mi {
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    min-height: 79vh;
}

.sobre_mi {
    width: 75%;
    margin-top: 60px;
}

.sobre_mi_titulo {
    margin-bottom: 25px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 34px;
}

.sobre_mi_texto {
    font-size: 21px;
    text-align: justify;
    padding-bottom: 25px;
}

@media(max-width: 950px) {
    .abajo>.imagenes {
        width: 40%;
    }

    .logo_img img {
        min-width: 72px;
    }

    #contenedor {
        grid-template-columns: repeat(3, 1fr);
        font-size: 15px;
    }

    .nombre_completo {
        flex-direction: column;
        align-items: center;
    }

    .sexo,
    .ojos,
    .pelo {
        padding: 0 12px;
        font-size: 18px;
        height: 28px;
    }

    .arriba {
        flex-direction: column;
    }

    .datos_importantes {
        margin: 0;
    }

    .imagen_principal {
        margin-bottom: 15px;
    }

    .datos {
        padding-top: 80px;
        width: 90%;
    }
}

@media(max-width: 850px) {
    .filtros {
        height: 100px;
    }

    .filtroForm {
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
    }

    .filtros1,
    .filtros2 {
        padding: 10px 0;
    }

    .pelo {
        border: none;
    }

    .ojos {
        border-right: solid 2px var(--dark-blue);
    }

    .ojos {
        padding-right: 60px;
        padding-left: 0;
    }

    .filtroForm button {
        margin-left: 60px;
    }
}

@media(max-width: 715px) {
    #contenedor {
        grid-template-columns: repeat(2, 1fr);
    }

    .nombre_completo {
        font-size: 17.5px;
    }

    footer {
        min-height: 100px;
    }

    .apellidos {
        flex-direction: column;
        align-items: center;
    }

    .api_footer {
        margin: 3px 0;
    }

    .logo {
        margin-left: 12px;
    }

    .datos_importantes {
        font-size: 18px;
    }

    .title {
        font-size: 21px;
    }
}

@media(max-width: 488px) {
    #contenedor {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .foto img {
        max-width: 80%;
    }

    .logo,
    .nombre {
        width: 100%;
        margin: 10px 0;
    }

    .apellidos {
        flex-direction: row;
    }

    .api_footer {
        margin-right: 12px;
    }

    .logo {
        margin: 7px 0 0;
        border-bottom: rgba(0, 0, 0, 0.771) solid 2px;
    }

    .logo_img {
        padding-bottom: 10px;
    }

    .nombre {
        padding: 5px 0 10px;
    }

    .filtros1,
    .filtros2 {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 300px;
    }

    .sexo,
    .ojos,
    .pelo {
        border: none;
        padding: 0;
        width: 290px;
        margin: 5px 0;
        height: 25px;
        display: flex;
        justify-content: space-between;
    }

    .sexo label,
    .ojos label,
    .pelo label{
        font-weight: 600;
    }

    .sexo input,
    .ojos input,
    .pelo input{
        width: 186px;
    }

    .ojos #eyes{
        margin-left: 11px;
    }
    
    .sexo #sex {
        width: 186px;
        margin-left: 26px;
    }

    .boton_filtrar {
        display: flex;
        justify-content: center;
    }

    .filtroForm button {
        margin: 0;
        margin-bottom: 15px;
        transform: translateY(15px);
    }

    .filtros {
        height: 140px;
    }

    #eyes {
        margin-left: 9px;
    }

    #sex {
        margin-left: 25px;
    }

    header {
        height: 70px;
    }
}

@media(max-width: 375px) {
    .logo_header img {
        margin-top: 5px;
        height: 60px;
    }
    
    .logo1 {
        margin-left: 10px;
        margin-right: 20px;
    }
    
    .logo2 {
        margin-right: 10px;
        margin-left: 20px;
    
    }

    #paginacion{
        width: 90%;
        min-width: 0;
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }

    #paginacion button, #paginacion .divMore{
        margin: 3px 5px;
    }
}

@media(max-width: 350px) {
    #contenedor {
        font-size: 13.5px;
    }
}

@media(max-width: 320px) {

    .api_nombre{
        font-size: 24px;
    }

    .sexo input,
    .ojos input,
    .pelo input{
        width: 156px;
    }

    .sexo #sex {
        width: 156px;
    }

    .filtros1, .filtros2{
        justify-content: space-around;
    }

    .logo_header img {
        margin-top: 5px;
        height: 55px;
    }
    
    .logo1 {
        margin-left: 0;
        margin-right: 15px;
    }
    
    .logo2 {
        margin-right: 0;
        margin-left: 15px;
    }
}

@media(max-width: 300px) {
    .logo2 {
        display: none;
    }
}